/* src/App.css */
.App {
  padding: 20px;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  color: #333;
  background-color: #baa9cb;

  width: auto;
  height: auto;

  /* Dynamically maintain the hexagon shape */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  aspect-ratio: 1 / 1;
  /* Ensure the aspect ratio stays square */
  -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 130%);
  mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 130%);
}

.title-container h1 {
  margin: 0;
  padding: 10px 20px;
  font-size: 2rem;
}

.title-container p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.shine {
  position: absolute;
  height: 100%;
  left: -75%;
  width: 50%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2), transparent);
  transform: skewX(-25deg);
  z-index: 1;
  pointer-events: none;
}

.changing-text-container {
  display: inline-block;
  width: 190px;
  /* Adjust width to fit the longest word */
  text-align: left;
}

.changing-text {
  display: inline-block;
  white-space: nowrap;
}

/* About and Articles Section Layout */
/* Social list styling */
.about-me {
  position: sticky;
  top: 20px;
  flex: 1;
  height: fit-content;
  max-width: 300px;
  margin-right: 50px;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-items: center;
  align-items: center;
}

.social-list li {
  display: inline-block;
  font-size: 30px;
  transition: color 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.social-list li:hover {
  transform: scale(1.1);
}

.social-list li a {
  color: #baa9cb;
}

.social-list li a:hover {
  color: #69a7ba;
}

/* Scientific papers */
.about-articles-section {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  gap: 20px;
  /* Optional: Adds space between columns */
}

.articles-list {
  flex: 2;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.articles-list ul {
  list-style-type: none;
  padding-left: 0;
}

.articles-list ul li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
}

.articles-list ul li::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  background-color: #221e26;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
}

.articles-list ul li a {
  text-decoration: none;
  color: #007bff;
}

.articles-list ul li a:hover {
  text-decoration: underline;
}

/* Media Query for Small Screens (below 768px wide) */
@media (max-width: 768px) {
  .about-articles-section {
    flex-direction: column;
    /* Stack the sections vertically */
    padding: 20px;
  }

  .about-me {
    order: 2;
    /* Display About Me after the Scientific Articles */
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
    /* Take full width */
  }

  .articles-list {
    order: 1;
    /* Display Scientific Articles first */
    padding: 20px;
    max-width: 100%;
    /* Take full width */
  }
}


/*Image*/
.image-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.background-image {
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask-position: 160%;
  mask-image: url('assets/shineMask.png');
  mask-size: 200%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}