.dot-point {
    height: 28px;
    background-color: #F0F0F0;
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
    will-change: transform, opacity, scale;
}


.group {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}