/* CSS for the Posts Component */
.posts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.posts-list a {
    max-width: 400px;
}

.post-item {
    position: relative;
    overflow: hidden;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.post-item:hover {
    transform: scale(1.05);
}

.post-image-container {
    position: relative;
    height: 150px;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.post-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3433527d;
    z-index: 1;
    transition: opacity 0.3s ease;
    opacity: 0;
    border-radius: 10px;
}

.post-item:hover .post-image-container::before {
    opacity: 1;
}

.post-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    pointer-events: none;
}

.post-item:hover .post-overlay {
    opacity: 1;
}

.post-title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    margin-top: 15px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.post-item:hover .post-title {
    color: #6867af;
    transition: color 0.3s ease;
}